@import "~antd/dist/antd.less";
@import "~ant-react-date-selector/src/less/ant-react-date-selector";
@import "./_rtl-support";

.arsb {
  &-search {
    &__bar {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      height: 32px;

      & > div,
      & > span,
      & > button {
        margin: 2px;
      }

      .@{ant-prefix}-input-group {
        display: flex;
        flex-flow: row nowrap;
      }

      .@{ant-prefix}-input-group:not(:first-child) {
        width: unset;
      }

      .@{ant-prefix}-form-item-control,
      .@{ant-prefix}-form-item-label {
        line-height: 32px;
      }
    }

    &__input {
      & .@{ant-prefix}-select {
        min-width: 80px;
      }
    }
  }

  &-button--add {
    border-style: dashed;
  }

  &-filter {
    &__bar {
      align-items: center;
      display: flex;
      flex-flow: row wrap;

      & > button, & > div {
        margin: 2px;
      }
    }

    &__button {
      && {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-flow: row nowrap;
        user-select: none;

        &:hover label {
          text-decoration: underline;
        }

        & .@{ant-prefix}-badge {
          sup {
            border-radius: 4px;
            font-size: 0.8em;
            font-weight: 500;
            height: 16px;
            line-height: 1.5em;
            margin: 0 4px;
            min-width: 1em;
          }

          &.collapsed sup {
            background-color: rgba(0, 0, 0, 0.1);
            color: @black;
          }

          &.expanded sup {
            background-color: @primary-color;
            color: @white;
          }
        }
      }
    }

    &__options {
      height: unset;
      padding: 0 4px;
    }

    &__tag {
      display: flex;
      flex-flow: row nowrap;
      padding: 0;

      &--checkbox {
        & svg {
          margin: -1px 0 0 -1px;
        }
      }

      &--inner {
        align-items: center;
        display: grid;
        grid-auto-flow: column;
        max-width: 20em;
      }

      &--label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        & > i {
          margin: 0 4px;
        }
      }
    }

    &__form {
      background-color: @white;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 0 16px;

      & .@{ant-prefix}-form-item-label {
        font-weight: 500;
        line-height: 1;
      }

      & .@{ant-prefix}-form-item-label label {
        font-size: 0.8em;
      }
    }
  }

  &-switch--negative {
    --antd-wave-shadow-color: @error-color;

    &.@{ant-prefix}-switch-checked {
      background-color: @error-color;
    }
  }

  // mixin to iterate over colors and create CSS class for each one
  .make-color-classes(@i: length(@preset-colors)) when (@i > 0) {
    .make-color-classes(@i - 1);
    @color: extract(@preset-colors, @i);
    @bgColor: "@{color}-5";
    @lightColor: "@{color}-1";

    &-@{color} &-filter__button .@{ant-prefix}-badge.expanded sup {
      background: @@bgColor;
    }

    &-@{color} .@{ant-prefix}-btn-primary {
      color: @@bgColor;
    }

    &-@{color} .@{iconfont-css-prefix}.@{iconfont-css-prefix}-setting {
      path {
        &:first-child,
        &:nth-child(2) {
          fill: @@lightColor;
        }

        &:last-child,
        &:nth-child(3) {
          fill: @@bgColor;
        }
      }
    }
  }

  .make-color-classes();
}
